Debug/
Release/
x64/
x86/
build/

.vs/
*.sln
*.suo
*.user
*.userosscache
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln.docstates

*.exe
*.dll
*.lib
*.obj
*.pdb
*.idb
*.exp
*.ilk

*.tmp
*.log
*.cache
*.db
*.ipch
*.tlog
*.lastbuildstate

.vscode/
